body {
	margin: 0;
	display: flex;

}

aside {
	font-family: "Poiret One", serif
	background: url("./images/blackbackground.png") no-repeat left top;
	height: 40vh;
	flex: 1;
	color: #bc4132;
	text-align: center;
    padding-top: 50vh;
    position: fixed;
    width: 40vw;
    padding-left: 0px;
    padding-right: 0px;
}

main {
	
	.skills{
		color: rgb(#221022);
	}


	background: #ffb90f;
	height: 100vh;
	flex: 2;

}
p {
	font-family: 'Fredoka One', cursive;

}