
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* make scrollbar invisible */
}


body {
	background-image: url("/images/blackbackground.png");
	background-attachment: fixed;
	display: flex;
}

/*main page*/
main{
	padding: 25px 50px 0;
    flex: 3;
}

#skills, #my-journey, #hobbies, #contact-me, #map-section {
	padding-bottom: 25px;
}

/*card*/
aside {
	font-family: 'Poiret One', cursive;
	font-size: 20px;
	height: 100vh;
	flex: 1;
	text-align: center;
    padding-top: 25px;
    padding-left: 5vh;
  }
/*card bootstrap*/
#intro-card {
	height: 655px;
	position: fixed;
}  
/*buttons in card*/
.list-group-item {
	background-color: transparent !important;

}


/*card background*/
canvas { 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; 
	 }


/*intro*/
p {
	font-family: 'Poiret One', cursive;   
}


#contact-me {
	background-color: transparent !important;
}

#particles-js {
	height: 100vh;
}

.grey-theme {
	background-color: #AAC4CF !important;
}


img {
	height: 300px;
	width: auto;
}

#map {
    height: 100vh;
}