
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* make scrollbar invisible */
}


body {
	
	background-attachment: fixed;
	display: flex;
}

/*main page*/
main{
	padding: 20px 50px 0;
    flex: 3;
}

#skills, #my-journey, #hobbies, #contact-me, #map-section {
	padding-bottom: 25px;
}

/*card*/
aside {
	font-family: 'Poiret One', cursive;
	font-size: 20px;
	height: 40vh;
	flex: 1;
	text-align: center;
    padding-top: 5em;
 
  }
/*card bootstrap*/
#intro-card {
	height: 360px;
	position: fixed;
}  
/*buttons in card*/
.list-group-item {
	background-color: transparent !important;

}


/*card background*/
.mos { 
	width: 100%;
	height: 17%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; 
	 }


/*intro*/
p {
	font-family: 'Poiret One', cursive;   
}


#contact-me {
	background-color: transparent !important;
}

#particles-js {
	height: 100vh;
}

.theme-color {
	background-color: rgba(233, 176, 55, 0.788) !important;
}


img {
	height: 300px;
	width: auto;
}

#map {
    height: 50vh;
}